#create-new-room-btn {
  background-color: yellow;
}

#rooms-container {
  display: flex;
  width: 100%;
  min-height: 100px;
  padding: 30px;
  flex-wrap: wrap;
}

#rooms-container .room-item {
  padding: 10px 20px;
  background-color: gray;
  color: gold;
  cursor: pointer;
  margin: 0 10px;
}

#rooms-container .room-item.active {
  outline: 2px solid blue;
  cursor: default;
}

.room-item {
  display: flex;
  flex-direction: column;
}

.room-item button {
  display: block;
  background-color: cornflowerblue;
  padding: 10px;
  border-radius: 5px;
}
